.mobile {
    border: 4px solid rgba(5, 5, 5, 0.517);
    border-radius: 20px;
    margin: 15px;
    box-shadow: 5px 5px 15px rgb(248, 3, 3);
}

.font {
    font-weight: 900;
    font-size: large;
    text-align: center;
    color: yellow;
}

.img {
    border-radius: 15px;
}
.btn {
    margin: 10px;
    color: white;
    background-color: rgb(5, 62, 204);
    padding: 2px 5px;
    border-radius: 4px;
}

.btn-div {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}